h1 {
    color: blue;
    margin-left: 100px;}
    /* Note: don't leave space between measurement and unit*/
    /* margin-left: 100 px;} */

notBuiltIn {
    color: green
}

h2 {
    background-color: pink;
}

th {
    border-color: coral;
    border: 5px;
    background-color: black;
    color: brown;
}

/* Example of a class */
.classProp {
    color: cornflowerblue;
}

h4.anotherClass {
    background-color: honeydew;
}

.thirdClass {
    padding: 100px;
    border: 5px;
}